<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Тарифы</title>
</head>
<body>
  <main class="content" id="tarifs">
    <template v-if="show == 'groups'">
      <div class="wrapper">
        <section class="tarif" v-for="(group, index) in content" @click="showGroup(index)">
          <div class="tarif__wrapper">
            <h2 class="section-title"> {{ group["Group title"] }} </h2>
            <p class="tarif__speed" v-bind:class="speedCheck(group['Group title'])"> {{ group["Group speed"] }} </p>
            <p class="tarif__prices"> {{ group["Group price"] }} </p>
            <p class="tarif__additional" v-for="option in group['Group free']"> {{ option }} </p>
            <svg class="arrow arrow_group">
              <polyline points="12,0 25,12 12,25"/>
            </svg>
            <p class="tarif__details"><a v-bind:href="group['Group link']" title='Перейти на сайт'>узнать подробнее на сайте www.sknt.ru</a></p>
          </div>
        </section>
      </div>
    </template>
    <template v-if="show == 'group'">
      <div class="group-wrapper">
        <h1 class="content-title" @click="showGroups"> Тариф "{{ this.tarifTitle }}" </h1>
        <template v-for="(tarif, index) in content">
          <section class="group" @click="showTarif(groupNum, index-1)">
            <h2 class="section-title"> {{ tarif["Tarif period"] }} </h2>
            <p class="group__monthly-price"> {{ tarif["Tarif price"] }} </p>
            <p class="group__full-price">разовый платеж – {{ tarif["Full price"] }} </p>
            <svg class="arrow arrow_tarif">
              <polyline points="12,0 25,12 12,25"/>
            </svg>
            <p v-if="tarif['Tarif discount'] > 0" class="group__discount">скидка {{ tarif["Tarif discount"] }} </p>
          </section>
        </template>
      </div>
    </template>
    <template v-if="show == 'tarif'">
      <div class="tarif-wrapper">
        <h1 class="content-title"  @click="showGroup(groupNum)">Выбор тарифа</h1>
        <section class="select-tarif">
          <h2 class="section-title">Тариф "{{ content["Title"] }}" </h2>
          <p class="select-tarif__period">Период оплаты – {{ content["Period"] }}</p>
          <p class="select-tarif__price"> {{ content["Price per month"] }} </p>
          <p class="select-tarif__full-price">разовый платеж – {{ content["Price"] }} </p>
          <p class="select-tarif__pay-out">со счета спишется – {{ content["Price"] }} </p>
          <p class="select-tarif__day">вступит в силу – сегодня</p>
          <p class="select-tarif__new-day">активно до – дд.мм.гггг</p>
          <button class="select-tarif__btn">Выбрать</button>
        </section>
      </div>
    </template>
  </main>
  <script src="vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="script.js"></script>
</body>
</html>