html {
  font-family: sans-serif;
  color: #4d575d;
}
body {
  margin: 0;
  background-color: #efeff4;
}
.content {
  margin-top: -1px;
}
.tarifs-wrapper {
  display: grid;
  column-gap: 10px;
  row-gap: 30px;
}
.tarif,
.group-header,
.tarif_unfocused {
  background-color: #fff;
  border-bottom: 1px solid #c8c7cc;
  border-top: 1px solid #c8c7cc;
  box-shadow: 0 0 5px #c8c7cc;
  transition: 0.3s;
  padding-left: 20px;
}
.tarif:hover,
.tarif:focus {
  background-color: #f6f6f6;
  box-shadow: 0 0 15px #9e9ea1;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
}
.tarif:hover .arrow-forward,
.tarif:focus .arrow-forward{
  stroke: #a4a2a9;
  right: 15px;
  transition: 0.2s;
}
.tarif-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.tarif__header {
  padding: 15px 0;
}
.tarif__name {
  font-size: 27px;
  font-weight: 400;
  color: #82c12b;
  margin: 0;
}
.tarif__info {
  flex-grow: 1;
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
  padding: 10px 0;
  position: relative;
}
.arrow-forward {
  fill: transparent;
  stroke-width: 3px;
  stroke: #bcb9c2;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: 25px;
  transition: 0.2s;
}
.tarif__info_border-bottom-off {
  border-bottom: none;
}
.tarif__speed {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  width: max-content;
  margin: 0 0 0 -20px;
  padding: 7px 10px 7px 20px;
  background-color: #82c12b;
}
.tarif__speed_color-earth {
  background-color: #70603e;
}
.tarif__speed_color-water {
  background-color: #0075d9;
}
.tarif__speed_color-fire {
  background-color: #e74807;
}
.tarif__speed::after {
  content: " Мбит/с";
}
.tarif__price,
.tarif__period {
  font-size: 28px;
  margin: 10px 0 15px 0;
}
.tarif__price::after,
.tarif__monthly-price::after {
  content: " \20BD/мес";
}
.tarif__item {
  font-size: 20px;
  margin: 0;
}
.tarif__item_color_gray {
  color: #acabaf;
}
.tarif__item_rub::after {
  content: " \20BD";
}
.tarif__footer {
  padding-right: 20px;
}
.tarif__link {
  color: #007aff;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  outline: none;
  padding: 20px 0 20px 0;
}
.tarif__link:visited {
  color: #007aff;
}
.tarif__link:focus,
.tarif__link:hover {
  text-decoration: underline;
}
.group-wrapper {
  min-width: 540px;
}
.group-tarif-wrapper {
  margin: 20px 0;
}
.group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 40px;
}
.tarif__pay-once {
  margin-bottom: 15px;
}
.tarif__pay-period {
  font-size: 28px;
  margin: 0;
}
.tarif__monthly-price {
  font-size: 28px;
  margin: 0 0 15px 0;
}
.group-header__title {
  flex-grow: 1;
  color: #000;
  font-size: 27px;
}
.arrow-back {
  position: relative;
  fill: transparent;
  stroke-width: 6px;
  stroke: #82c12b;
  left: 0px;
  transition: 0.2s;
  cursor: pointer;
}
.arrow-back:hover,
.arrow-back:focus {
  left: -5px;
  stroke: #669622;
  outline: none;
  transition: 0.2s;
}
.tarif__select-btn {
  background-color: #82c12b;
  color: #fff;
  width: 100%;
  margin: 5px 20px 10px 0;
  height: 60px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
}
.tarif__select-btn:hover {
  background-color: #78b127;
  cursor: pointer;
  transition: 0.2s;
}
.tarif__select-btn:focus {
  outline-color: #4f761a;
  background-color: #78b127;
  transition: 0.2s;
}
@media only screen and (min-width: 640px){
  .content {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .tarifs-wrapper {
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
  .group-wrapper {
    padding: 10px;
  }
}
@media only screen and (min-width: 1024px){
  .tarifs-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
} 