html {
  font-family: sans-serif;
  color: #4d575d;
}
html a {
  color: #007aff;
  text-decoration: none;
}
html link:visited {
  color: #007aff;
}
body {
  margin: 0;
  background-color: #efeff4;
}
.wrapper {
  display: grid;
  column-gap: 10px;
  row-gap: 30px;
}
.tarif, 
.group,
.content-title{
  background-color: #fff;
  margin: -1px 0 0 0;
  border-bottom: 1px solid #c8c7cc;
  border-top: 1px solid #c8c7cc;
  box-shadow: 0 0 5px #c8c7cc;
  transition: 0.3s;
}
.content-title {
  color: #000;
  text-align: center;
  font-size: 26px;
  padding: 15px 0;
  margin-bottom: 40px;
}
.tarif:hover, 
.group:hover,
.content-title:hover {
  background-color: #f6f6f6;
  box-shadow: 0 0 15px #9e9ea1;
  transition: 0.2s;
  cursor: pointer;
}
.tarif__wrapper {
  padding-left: 20px;
  position: relative;
}
.tarif__speed {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  width: max-content;
  margin: 0 0 0 -20px;
  padding: 7px 20px;
  background-color: #82c12b;
}
.tarif__speed_earth {
  background-color: #70603e;
}
.tarif__speed_water {
  background-color: #0075d9;
}
.tarif__speed_fire {
  background-color: #e74807;
}
.tarif__speed:after {
  content: " Мбит/с";
}
.tarif__prices {
  font-size: 28px;
  margin: 10px 0 15px 0;
}
.tarif__prices:after {
  content: " \20BD/мес";
}
.tarif__additional {
  font-size: 20px;
  margin: 0;
}
.tarif__details {
  border-top: 1px solid #c8c7cc;
  padding: 15px 20px 0 0;
  font-size: 20px;
  margin: 10px 0 15px 0;
}
.group * {
  margin: 0;
}
.arrow {
  position: absolute;
  right: 30px;
  width: 27px; 
  height: 27px;
  fill: transparent;
  stroke: #c8c7cc;
  stroke-width: 3px;
  transition: 0.3s;
  display: block;
}
.arrow_group {
  top: 50%;
  margin-top: -10px;
}
.arrow_tarif {
  top: 50%;
  margin-top: 15px;
}
.tarif:hover .arrow,
.group:hover .arrow {
  stroke: #a7a6aa;
  right: 25px;
  transition: 0.2s
}
.group {
  background-color: #fff;
  padding: 20px 0 20px 20px;
  margin: 25px 0;
  position: relative;
}
.group__monthly-price,
.select-tarif__period, 
.select-tarif__price {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
.group__monthly-price:after,
.select-tarif__price:after {
  content: " \20BD/мес";
}
.group__full-price,
.select-tarif__full-price,
.select-tarif__day,
.select-tarif__new-day,
.select-tarif__pay-out {
  font-size: 20px;
}
.group__full-price:after,
.group__discount:after,
.select-tarif__full-price:after,
.select-tarif__pay-out:after {
  content: " \20BD";
}
.group__discount {
  font-size: 20px;
}
.group-wrapper,
.tarif-wrapper {
  width: 100%;
}
.select-tarif * {
  margin: 0;
  padding: 0;
}
.select-tarif {
  background-color: #fff;
  padding: 20px 0 10px 20px;
  border-bottom: 1px solid #c8c7cc;
  border-top: 1px solid #c8c7cc;
  box-shadow: 0 0 5px #c8c7cc;
}
.select-tarif__period {
}
.select-tarif__price {
  margin-bottom: 15px;
}
.select-tarif__full-price {
}
.select-tarif__pay-out{
  margin-bottom: 20px;
}
.select-tarif__day {
  color: #aaa;
}
.select-tarif__new-day {
  color: #aaa;
  padding-bottom: 10px;
  border-bottom: 1px solid #c8c7cc;
  margin-bottom: 10px;
}
.select-tarif__btn {
  color: #fff;
  font-size: 30px;
  background-color: #82c12b;
  width: 96.5%;
  height: 60px;
  outline: none;
  border: none;
  transition: 0.2s;
}
.select-tarif__btn:hover {
  background-color: #74ac26;
  transition: 0.2s;
}
.section-title {
  font-size: 30px;
  font-weight: 400;
  color: #82c12b;
  padding-bottom: 15px;
  border-bottom: 1px solid #c8c7cc;
  margin-bottom: 15px;
}
@media only screen and (min-width: 640px){
  main {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .wrapper {
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
  .tarif {
    max-width: 440px;
  }
  .tarif__wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  .tarif__prices {
    flex-grow: 1;
  }
  .group-wrapper,
  .tarif-wrapper {
    width: 600px;
  }
  .content-title {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1024px){
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}